.screen {
    padding: 0 0 $separation 0;
    position: relative;
    .screen__content {
        display: block;
        width: 100%;
        height: 15vh;
        border-radius: 15px;
        border: none;
        outline: none;
        font-size: 3.2rem;
        text-align: end;
        padding: 2rem;
        position: relative;
        
        @include responsive(phone) {
            padding: 3rem;
            height: 16vh;
            font-size: 4.5rem;
        }

        @include responsive(tablet) {
            padding: 3rem;
            height: 16vh;
            font-size: 5.3rem;
        }

        &:hover {
            cursor: default;
        }
    }
    
    &::before {
        content: '';
        width: 2.5vh;
        height: 2.5vh;
        position: absolute;
        z-index: 1;
        right: 10px;
        top: 10px;
    }

    & .suma {
        content: '+';
    }

    & .resta {
        content: '-';
    }

    & .multi {
        content: 'x';
    }

    & .div {
        content: '/';
    }
}