.screen {
    padding: 0 0 $separation 0;
    position: relative;
    .screen__content {
        display: block;
        width: 100%;
        height: 15vh;
        border-radius: 15px;
        border: none;
        outline: none;
        font-size: 3.2rem;
        text-align: end;
        padding: 2rem;
        position: relative;
        
        @include responsive(phone) {
            padding: 3rem;
            height: 16vh;
            font-size: 4.5rem;
        }

        @include responsive(tablet) {
            padding: 3rem;
            height: 16vh;
            font-size: 5.3rem;
        }

        &:hover {
            cursor: default;
        }
    }
    
    &::before {
        display: flex;
        justify-content: center;
        align-items: center;
        content: attr(data-content);
        width: 4vh;
        height: 4vh;
        position: absolute;
        z-index: 1;
        left: 10px;
        top: 15px;
        font-size: 3rem;
        font-weight: lighter;

        @include responsive(tablet) {
            font-size: 3.5rem;
        }
    }
}